/* general css */
head{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}
footer{
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    color:#ffffff;
    background-color: skyblue;
}
/* navbar */
#main-navbar
{
	background-color: skyblue;
	overflow: hidden;
	width: 100%;
}

#navbar-container
{
	float: left;
	width: 100%;
	position: relative;
}

#main-navbar ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 50%;
 	float: left;
 	position: relative;
}

#main-navbar ul li
{
    display: block;
 	float: left;
 	right: 50%;
 	position: relative;
}

#main-navbar ul li a
{
	display: block;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
    font-size: x-large;
}

#main-navbar ul li a:hover
{
	background-color: royalblue;
}
/*index css */

/* about us page css */

/* contact us page css */
.formcontainer{
    position: relative;
    border-radius: 10px;
    background-color: #9dd7f091;
    padding: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
    margin-top: 10%;
  
}
input[type='email'], [type='text'], [type='tel'], [type='date']{
    background-color: #c6dff8;
    width: 50%;
    height: 25px;
    border: 0px;
    
}
.data {
    background-color: #c0defc;
    width: 50%;
    height: 50px;
    border: 0px;
}
input[type='submit']{
    background: linear-gradient(45deg, skyblue, royalblue 50%);
    color: white;
    margin: 20px auto;
    display: block;
    
}