@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/*link to color sheet: https://paletton.com/#uid=13A0u0ksgHvepQ+lNLbF1yAFcnw*/

/* general css */
html {
  font-family: 'Lora', serif;
}
head{
    background-color: #ffffff;
}
body{
    background-color: #85B3E3;
}
h2{
  font-weight: bold;
  font-size: 1.25em;
}
.sizze{
  display: block;
  min-width: 20%;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.banner{
width:620px;
margin-top: 5px;
margin: auto;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding-left:100px;
color:#37535B;
background: #31B3DA no-repeat center left;
opacity: .85;
font-family: "Arial Narrow";
height: 20px;

}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #063F7A;
  color: white;
  text-align: center;
}

/* navbar */
.topnav {
  background-color: #4E8FD3;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4E8FD3;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0959AD;
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#logo {
  float: left;
  width: 90px;
}
/*index css */

/*h1 with main logo on the Homepage*/


.bg-div {
   overflow: hidden;
}

nav {
    /*float: center;*/
    text-align: center;

}

.logo{
  max-height: 200px;
  max-width: 300px;
  /*padding-bottom: -20%;*/
  float: left;
  position: absolute;
  margin-left: -90em;
  margin-top: -3em;
}
.padding{
  padding-top: 50px;
  width:100%;
}
.pc{
  text-align:center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
}
.h1index{
  padding-top: 50px;
  font-size: 30px;
  text-align:center;
}
.h1index1{
  padding-bottom: 50px;
  font-size: 20px;
  text-align:center;
}
.h1index2{
  font-size: 20px;
  text-align:center;
}
.h1index3{
  padding-top: 50px;
  font-size: 20px;
  text-align:center;
}
.h1index4{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;
  text-decoration: underline;
  text-align:center;
}
h1{
  background-color: #c6dff8;
  /*Float:center;*/
  width: 50%;
  height: 15px;
  border: 0px;
 }
 .nav-links a{
  color: lightblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
h1{
  background-color: royalblue;
  /*Float:center;*/
  width: 50%;
  height: 15px;
  border: 0px;
 }
/*burger for mobile friendly web use*/


.burger div{
  width: 25px;
  height: 5px;
  background-color: lightgrey;
  margin:5px;
}


/* about us page css */

body#aboutUs {
    background-color: #90B1D3;
    background-attachment: fixed;
    background-position:center;
    color: #000000;
    text-align: center;
  }

#about_wrapper {
    width: 75%;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
  }

#names {
    width: 100%;
    height: 40px;
    background-color: royalblue;
    color: #ffffff;
    text-align: match-parent;
    font-size: 32px;
  }

#person2 {
    width: 100%;
    height: 100%;
    background-color: #90B1D3;
    color: #ffffff;
    text-align: match-parent;
    font-size: 16px;
	padding-bottom: 10px;
}

#person13 {
    width: 100%;
    height: 100%;
    background-color: #537FAE;
    color: #ffffff;
    text-align: match-parent;
    font-size: 16px;
	padding-bottom: 10px;
}

/* contact us page css */
div.contacttextbox {
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
  margin-bottom: 2%;
}
div.contacttext {
  font-size: larger;
  margin-left: 12%;
  margin-top: 150px;
  margin-bottom: auto;
  width: 525px;
  height: 300px;
  position: inherit;
  padding-top: 10%;
  font-family: 'Lora', serif;
}
div.contactmedia {
  position: fixed;
  margin-left: 50%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
}
.contactusimg {
  position: inherit;
  margin-top: 25px;
  margin-left: 85px;
  height: 250px;
  width: 450px;
}
input[type='email'], [type='text'], [type='tel'], [type='date'] select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: royalblue;
}

div.formcontainer {
    border-radius: 5px;
    background-color: #c2d4f5;
    padding: 20px;
    text-align: center;
    margin-left:15%;
    margin-right:15%;
}
ul.formlist{
    text-align: center;
    margin-left:5%;
    margin-right:5%;
}
fieldset{
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}

#slider {
  opacity:1;
  transition: opacity 1s;
}

#slider.fadeOut {
  opacity:0;
}

.picture {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 400px;
}

.container {
  position: relative;
  width: 400px;
}

.image {
  display: block;
  margin: auto;
  height: 250px;
}

@media only screen and (min-width: 1920px){
  /* CONTACT PAGE CODE */
  div.contacttext {
    font-size: larger;
    margin-left: 12%;
    margin-top: 150px;
    margin-bottom: auto;
    width: 525px;
    height: 300px;
    position: inherit;
    padding-top: 10%;
    font-family: 'Lora', serif;
  }
  ul.formlist{
    text-align: center;
    margin-left:5%;
    margin-right:5%;
}
div.contacttextbox {
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
  margin-bottom: 2%;
}
div.contactmedia {
  position: fixed;
  margin-left: 50%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
}
div.formcontainer {
  border-radius: 5px;
  background-color: #c2d4f5;
  padding: 20px;
  text-align: center;
  margin-left:15%;
  margin-right:15%;
}
}
@media only screen and (max-width: 1900px){
  /* CONTACT PAGE CODE */
  div.contacttext {
    font-size: large;
    margin-left: 12%;
    margin-top: 150px;
    margin-bottom: auto;
    width: 75%;
    height: 50%;
    position: inherit;
    padding-top: 10%;
    font-family: 'Lora', serif;
    text-align: center;
  }
div.contacttextbox {
  position: relative;
  margin-top: -15%;
  margin-left: 25%;
  background-color: #c2d4f5;
  width: 50%;
  height: 250px;
  margin-bottom: 2%;
}
div.contactmedia {
  position: relative;
  margin-left: 28%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
  margin-top: 12%;
  margin-bottom: 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.formcontainer {
  border-radius: 5px;
  background-color: #c2d4f5;
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

ul.formlist{
  text-align: center;
  margin-left:15%;
  margin-right:15%;
}
}
