@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* general css */
html {
  font-family: 'Lora', serif;
}
head{
    background-color: #ffffff;
}
body{
    background-color: lightgrey;
}
h2{
  font-weight: bold;
  font-size: 1.25em;
}
.banner{
width:620px;
margin-top: 5px;
margin: auto;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding-left:100px;
color:#37535B;
background: #31B3DA url(banner1.png) no-repeat center left;
opacity: .85;
font-family: "Arial Narrow";
height: 20px;

}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}
/* navbar */
#main-navbar
{
	background-color: skyblue;
	overflow: hidden;
	width: 100%;
}

#navbar-brand
{
  margin: 0;
  padding: 0;
    left: 50%;
  float: left;
  position: fixed;
}

#navbar-container
{
	float: left;
	width: 100%;
	position: relative;
}

#main-navbar ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 50%;
 	float: left;
 	position: relative;
}

#main-navbar ul li
{
    display: block;
 	float: left;
 	right: 50%;
 	position: relative;
}

#main-navbar ul li a
{
	display: block;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
    font-size: x-large;
}

#main-navbar ul li a:hover
{
	background-color: royalblue;
}



/*index css */

/*h1 with main logo on the Homepage*/


.bg-div {
   overflow: hidden;
}

nav {
    float: center;
    text-align: center;

}

.logo{
  max-height: 200px;
  max-width: 300px;
  padding-bottom: -20%;
  float: left;
  position: absolute;
  margin-left: -90em;
  margin-top: -3em;
}

h1{
  background-color: #c6dff8;
  Float:center;
  width: 50%;
  height: 15px;
  border: 0px;
 }
 .nav-links a{
  color: lightblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
h1{
  background-color: royalblue;
  Float:center;
  width: 50%;
  height: 15px;
  border: 0px;
 }
/*burger for mobile friendly web use*/


.burger div{
  width: 25px;
  height: 5px;
  background-color: lightgrey;
  margin:5px;
}


/* about us page css */

body#aboutUs {
    background-color: #ffffff;
    background-attachment: fixed;
    background-position:center;
    color: #000000;
    text-align: center;
  }

#about_wrapper {
    width: 100%;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
  }

#names {
    width: 100%;
    height: 40px;
    background-color: royalblue;
    color: #ffffff; 
    text-align: match-parent;
    font-size: 32px;
  }

#rickey {
    width: 100%;
    height: 100%;
    background-color: rgb(104, 136, 230);
    color: #ffffff; 
    text-align: match-parent;
    font-size: 14px;
}

/* contact us page css */
div.contacttextbox {
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
  margin-bottom: 2%;
}
div.contacttext {
  font-size: larger;
  margin-left: 12%;
  margin-top: 150px;
  margin-bottom: auto;
  width: 525px;
  height: 300px;
  position: inherit;
  padding-top: 10%;
  font-family: 'Lora', serif;
}
div.contactmedia {
  position: fixed;
  margin-left: 50%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
}
.contactusimg {
  position: inherit;
  margin-top: 25px;
  margin-left: 85px;
  height: 250px;
  width: 450px;
}
input[type='email'], [type='text'], [type='tel'], [type='date'] select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: skyblue;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: royalblue;
}

div.formcontainer {
    border-radius: 5px;
    background-color: #c2d4f5;
    padding: 20px;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}
ul.formlist{
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}
fieldset{
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}

#slider {
  opacity:1;
  transition: opacity 1s; 
}

#slider.fadeOut {
  opacity:0;
}

.picture {
  display: block;
  margin: auto;
  width: 50%;
  min-width: 400px;
}

.container {
  position: relative;
  width: 400px;
}

.image {
  display: block;
  margin: auto;
  height: 250px;
}

@media only screen and (min-width: 768px){
  /* CONTACT PAGE CODE */
  div.contacttext {
    font-size: large;
    margin-left: 12%;
    margin-top: 150px;
    margin-bottom: auto;
    width: 75%;
    height: 50%;
    position: inherit;
    padding-top: 10%;
    font-family: 'Lora', serif;
    text-align: center;
  }
div.contacttextbox {
  position: relative;
  margin-top: -15%;
  margin-left: 25%;
  background-color: #c2d4f5;
  width: 50%;
  height: 250px;
  margin-bottom: 2%;
}
div.contactmedia {
  position: relative;
  margin-left: 13%;
  background-color: #c2d4f5;
  width: 630px;
  height: 300px;
  margin-top: 12%;
}
div.formcontainer {
  border-radius: 5px;
  background-color: #c2d4f5;
  padding: 20px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}
}