/* general css */
head{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}
/* navbar */
#main-navbar
{
	background-color: skyblue;
	overflow: hidden;
	width: 100%;
}

#navbar-brand
{
  margin: 0;
  padding: 1;
    left: 50%;
  float: left;
  position: fixed;
}

#navbar-container
{
	float: left;
	width: 100%;
	position: relative;
}

#main-navbar ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 50%;
 	float: left;
 	position: relative;
}

#main-navbar ul li
{
    display: block;
 	float: left;
 	right: 50%;
 	position: relative;
}

#main-navbar ul li a
{
	display: block;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
    font-size: x-large;
}

#main-navbar ul li a:hover
{
	background-color: royalblue;
}


/*index css */
fieldset
/*h1 with main logo on the Homepage*/

h1{
  background-color: #c6dff8;
  Float:center;
  width: 50%;
  height: 15px;
  border: 0px;
 }

/* about us page css */

/* contact us page css */


}
input[type='email'], [type='text'], [type='tel'], [type='date']{
    background-color: #c6dff8;
    width: 50%;
    height: 25px;
    border: 0px;

}
.data {
    background-color: #c0defc;
    width: 50%;
    height: 50px;
    border: 0px;
}
input[type='submit']{
    background: linear-gradient(45deg, skyblue, royalblue 50%);
    color: white;
    margin: 20px auto;
    display: block;

}
